{{#if login.customer}}
  {{customer.name}}<br>
  <!-- <img src={{customer.icon}} id="customer-icon"><br> -->
  {{customer.location}}<br>
{{/if}}

{{#unless login.logedin}}
  {{#modal-dialog targetAttachment="center" translucentOverlay=true}}
    <div class='text-center'>
      <p>
        Please Login before you continue.
        Redirecting to Login Page...
      </p>
    </div>
  {{/modal-dialog}}
{{/unless}}
