{{#if login.logedin}}
  <div>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
           <div class="navbar-header">
             <a class="navbar-brand">{{login.currentUser}}</a>
           </div>
          <ul class="nav navbar-nav">
            <li>{{#link-to 'select-shop'}}Change Store{{/link-to}}</li>
            <li>{{#link-to 'customer' login.userId}}My Account{{/link-to}}</li>
            <li><button class='logout' type='button'{{action "logout"}}>Logout</button></li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
{{/if}}
