
  <h2>Your Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></h2>
  {{#each shoppingCart.items as |item|}}
    {{shopping-cart-tile item=item}}
  {{/each}}
  <p>Total : {{shoppingCart.totalprice}}</p>
  {{#if shoppingCart.canpay}}
    {{#link-to 'payment'}}<button class="btn" {{action 'addsoldItems' shoppingCart.items}}>Proceed to payment <i class="fa fa-credit-card" aria-hidden="true"></i>
</button>{{/link-to}}
  {{/if}}
