<div class="container display-map">
  <div id="floating-panel">
    <form {{action "geocodeAddress" on="submit"}}>
      {{input value=address type="text" placeholder="(option)location"}}
      <button  class="btn btn-primary">Find</button>
      <button {{action 'myLocation'}} class="btn btn-primary glyphicon glyphicon-screenshot"></button>
    </form>
  </div>
  <div id="the-map"></div>
  <div id="output">
    <h4>Get Closest Shops!</h4>
    {{#each map.fifty_meter_shops as |fifty_meter_shop|}}
      {{#link-to 'customer-index' fifty_meter_shop.id}}<button class="btn btn-primary">{{fifty_meter_shop.shopname}}</button>{{/link-to}}
    {{/each}}
  </div>
</div>
