  <div class='text-center login'>
    {{input value=username id='username' placeholder='Username'}}<br />
    {{input type='password' value=password id='password' placeholder='Password'}}<br />
    <button {{action "userLogin"}} class='btn'>Log in Now</button>
    {{#link-to 'sign-up'}}<button class='btn'>Sign up</button>{{/link-to}}
    <h3></h3>
  </div>
