{{#if login.seller}}
  <div class= "container">
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
           <div class="navbar-header">
             <a class="navbar-brand">Logged in as {{login.currentUser}}</a>
           </div>
          <ul class="nav navbar-nav">
            <li>{{#link-to 'store-index'}}My Store{{/link-to}}</li>
            <li><button{{action "showgraph" sales}}>{{#link-to 'sales'}}Sales{{/link-to}}</button></li>
            <li><button{{action "logout"}}>Logout</button></li>
          </ul>
        </div>
      </nav>
    </header>
      {{outlet}}
  </div>
{{/if}}
