@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.display{
  width: 300px;
}

@import "ember-bootstrap/bootstrap";

img {
  height: 240px;
  width: 200px;
}
