
<div id='index' class='indexBackground'>
  {{#modal-dialog targetAttachment="center"}}
    <div class='text-center'>
      <h1 id='companyName'>CoolCool</h1>
    </div>
    <div>
      {{login-page}}
    </div>
  {{/modal-dialog}}
</div>
