{{store-navbar}}

<div class="container">
  {{shop-info shop=model.shop}}

  {{#each model.shop.products as |product|}}
    {{product-tile product=product}}
  {{/each}}

  {{new-product shop=model.shop saveProduct="saveProduct"}}
</div>
