{{store-navbar}}
<<<<<<< HEAD

=======
>>>>>>> 1c9768fad292e0c2915588850efe12475f7755e9
<div class="container">
  {{shop-info shop=model.shop}}

  {{#each model.shop.products as |product|}}
    {{product-tile product=product}}
  {{/each}}

  {{new-product shop=model.shop saveProduct="saveProduct"}}
</div>
